body{
    background-color: rgb(255, 245, 245);
}

main h1{
    font-size: 8rem;
    color: rgb(177, 32, 32);
    text-align: center;
    margin-top: 0;
}

main{
    padding-left: 1.2rem;
    margin-bottom: 22.5rem;
}
