:root{
    font-size: 62.5%;
}

.grid{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    justify-content: space-between;
    padding: 15px;
}

.image1{
    height: 300px;
    width: 210px;
    margin-right: 10px;
    object-fit:cover;
}

.image-container{
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
}
.content-container{
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
}

.image1{
    width: 100%;
    border-radius: 25px;
}

.burger-container{
    display:none;
}

@media (max-width:1300px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:1200px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:980px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .photogeneic-male-text{
        font-size: 2.2rem;
    }

    .man{
        height: 11px;
    }

    .left-section nav ul li{
        font-size: 1.7rem;    
    }

    .footer-main ul{
        font-size: 1.4rem;
    }
    
}

@media (max-width:620px){
    .grid{
        grid-template-columns: 1fr 1fr ;
    }

    .photogeneic-male-text{
        font-size: 1.7rem;
    }

    .man{
        height: 11px;
    }

    .left-section nav ul li{
      font-size: 1.4rem;
    
    }

    .footer-main ul{
        font-size: 1.2rem;
    }
}

/*mobile version*/

@media only screen and (max-width:412px){

    body{
        padding-top: 50px;
    }
    .grid{
        grid-template-columns: 180px 180px;
        width: 100%;
        margin: 0;
        padding: 0;
    }  
    
    .header nav{
        display:none;
    }
    
    .left-section{
        font-size: 1.5rem;
    }
    
    .man{
        height: 12px;
    }

    .color-cordination{
        display:none;
        color:brown;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:bold;
        font-size: 12px;
    }

    .image1{
        height: 270px;
        width: 180px;
        object-fit:cover;
    }

    .content-container{
        display:flex;
        padding: 10px;
        width: 200px;
        margin-bottom: 1px;
        margin-right: 1px;
        width: 100%;
        align-items: center;
    }

    .header{
        border-bottom: 1px;
        border-bottom-style: solid;
        border-color: brown;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
        height: 40px;
        width: 100%;
        padding: 10px;
        padding-bottom: 0;
        position: fixed;
        z-index: 1000;
        background-color: rgb(255, 255, 255);
        right:0px;
        left: 0px;
        top: 0px;
    }

    .photogeneic-male-text{
        font-size: 1.7rem;
    }

    .image-container{
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
        padding-right:5px;
    }

    .burger-container{
        display:block;
        margin-right: 18px;
    }

    .burger-icon{
        width: 30x;
        height: 35px;
    }

    main{
        width: 100%;
    }
}

